body {
    font-family: 'Raleway', sans-serif;
}

.uppercase {
    text-transform: uppercase;
}

.todo-description {
    font-size: 13px;
}

.done {
    text-decoration: line-through;
}

i.done {
    pointer-events: none;
    cursor: default;
    color: #CCCCCC;
}

div.done {
    pointer-events: none;
    cursor: default;
}

i.done-icon {
    float: right;
    cursor: pointer;
    font-size: 16px;
}

#new-todo,
.edit {
    position: relative;
    margin: 0;
    width: 100%;
    font-size: 24px;
    font-family: inherit;
    font-weight: inherit;
    line-height: 1.4em;
    border: 0;
    outline: none;
    color: inherit;
    padding: 6px;
    border: 1px solid #999;
    box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

#new-todo {
    padding: 16px 16px 16px 60px;
    border: none;
    background: rgba(0, 0, 0, 0.003);
    box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
}

#todo-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

#todo-list li {
    position: relative;
    font-size: 24px;
    border-bottom: 1px solid #ededed;
}

#todo-list li:last-child {
    border-bottom: none;
}


#todo-list li label {
    white-space: pre;
    word-break: break-word;
    padding: 15px 60px 15px 15px;
    margin-left: 45px;
    display: block;
    line-height: 1.2;
    transition: color 0.4s;
}

#todo-list li.completed label {
    color: #d9d9d9;
    text-decoration: line-through;
}

#todo-list li .priority {
    text-align: center;
    height: auto;
    position: absolute;
    top: 0;
    font-size: 14px;
    bottom: 0;
    margin: auto 0;
    -webkit-appearance: none;
    appearance: none;
}


#todo-list li .destroy {
    diplay: block;
    position: absolute;
    top: 0;
    cursor: hand;
    right: 10px;
    bottom: 0;
    width: 40px;
    height: 40px;
    margin: auto 0;
    font-size: 30px;
    color: #cc9a9a;
    margin-bottom: 11px;
    transition: color 0.2s ease-out;
}

#todo-list li .destroy:hover {
    color: #af5b5e;
}

